@{
    ViewData["Title"] = "Home Page";
}

<section class="card">
    <div class="container">
        <div class="row">
            <div class="boxcard">
                <span> Our Services</span>
            </div>
            <div class="col-md-4 classcardone">
                <i class="fa-solid fa-ruler-combined"></i>
                <h1>COSMETIC</h1>
                <p>some form, by injected humour, or randomised words which don't look even slightly believable. If you are</p>
            </div>
            <div class="col-md-4 classcardone">
                <i class="fa-solid fa-ruler-combined"></i>
                <h1>NAILS</h1>
                <p>some form, by injected humour, or randomised words which don't look even slightly believable. If you are</p>
            </div>
            <div class="col-md-4 classcardone">
                <i class="fa-solid fa-ruler-combined"></i>
                <h1>HAIRDRESSING</h1>
                <p>some form, by injected humour, or randomised words which don't look even slightly believable. If you are</p>
            </div>
            <div class="classbtn32">
                <button>
                    READ MORE
                </button>
            </div>
        </div>
    </div>
</section>
<section class="twe">
    <div class="boxsone">
        <div class="col-md-6 box1">
            <i class="fa-solid fa-ruler-combined"></i>
            <p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are</p>
            <button>
                READ MORE
            </button>
        </div>
        <div class="col-md-6 box2">

        </div>
    </div>
</section>

<section class="four">
    <div class="container">
        <div class="row">
            <div class="boxsssliders">
                <div class="classhead">
                    <i class="fa-solid fa-pen"></i><span>Our Customer Feedback</span>
                </div>
                <div class="classsliders22">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="assets/img/tes.png" alt="">
                                <h1>ROHALI JONSON</h1>
                                <p>customer</p>
                                <h4>passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repea</h4>
                                <img src="assets/img/icon.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="assets/img/tes.png" alt="">
                                <h1>ROHALI JONSON</h1>
                                <p>customer</p>
                                <h4>passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repea</h4>
                                <img src="assets/img/icon.png" alt="">
                            </div>

                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>